<div id="<%= dom_id tracery %>" class="grid grid-cols-3 gap-3 p-1">
  <div><%= tracery.character_name %></div>
  <div><%= tracery.legendary.name %></div>
  <div style="background-color: #<%= tracery.tracery_color.hex %>"><%= tracery.name %></div>
</div>
